Repository Reisssz/inmet-datas: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, trailing-whitespace, jupyter-nb-clear-output, check-yaml, check-ast, check-docstring-first, pip-compile

end-of-file-fixer:
  name: fix end of files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: python
  stages:
  - commit
  - push
  - manual

trailing-whitespace:
  name: trim trailing whitespaces
  description: trims trailing whitespace.
  entry: trailing-whitespace-fixer
  language: python
  stages:
  - commit
  - push
  - manual

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

check-yaml:
  name: checking yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: python
  stages:
  - commit

check-ast:
  name: checking python AST
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: python

check-docstring-first:
  name: checking docstring
  description: checks a common error of defining a docstring after code.
  entry: check-docstring-first
  language: python

pip-compile:
  name: compiling requirements-app.in
  entry: pip-compile --no-emit-index-url requirements-app.in --output-file requirements-app.txt
  language: system

FINAL 4.0
  .gitignore
  .pre-commit-config.yaml
  README.md
  __pycache__/collect_link.cpython-313.pyc
  dados.db
  data_inmet.py
  lab.ipynb
  main.py
  requirements.txt
  src/__init__.py
  src/app.py
  src/collect_link.py
  src/data_base.py
  src/download_files.py
  src/extract_files.py
  src/main.py
  src/process_files.py
  src/treatment_files.py
  tatus
  treatment_files.py
Due: end-of-file-fixer, trailing-whitespace, jupyter-nb-clear-output, check-yaml, check-ast, check-docstring-first

FINAL 6.0
  app.py
  collect_link.py
  data_base.py
  download_files.py
  extract_files.py
  main.py
  process_files.py
  requirements.txt
  treatment_files.py
Due: end-of-file-fixer, trailing-whitespace, check-ast, check-docstring-first

final 6.0
  .pre-commit-config.yaml
  requirements.txt
  src/app.py
  src/process_files.py
  src/treatment_files.py
Due: end-of-file-fixer, trailing-whitespace, check-yaml, check-ast, check-docstring-first

remove-libs-requirements
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

resolution-problem
  src/data_base.py
  src/treatment_files.py
Due: end-of-file-fixer, trailing-whitespace, check-ast, check-docstring-first

resolve-problem2
  src/treatment_files.py
Due: end-of-file-fixer, trailing-whitespace, check-ast, check-docstring-first

Ajustes finais !
  .gitignore
  app.py
  app/app.py
  collect_link.py
  config/config.py
  data_base.py
  download_files.py
  extract_files.py
  main.py
  process_files.py
  requirements.txt
  src/collect_link.py
  src/data_base.py
  src/download_files.py
  src/extract_files.py
  src/process_files.py
  src/treatment_files.py
  test.ipynb
  treatment_files.py
Due: end-of-file-fixer, trailing-whitespace, jupyter-nb-clear-output, check-ast, check-docstring-first

final-project
  .gitignore
  src/data_base.py
  src/treatment_files.py
Due: end-of-file-fixer, trailing-whitespace, check-ast, check-docstring-first

final-project21
  .gitignore
  README.md
  pyproject.toml
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

final5.0
  Dockerfile
  main.py
Due: end-of-file-fixer, trailing-whitespace, check-ast, check-docstring-first

final-project6.0
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace

finalizando-projeto
  config/config.py
  main.py
  pyproject.toml
  requirements.txt
  src/main.py
  src/weather/__init__.py
  src/weather/config/__init__.py
  src/weather/config/config.py
  src/weather/database/__init__.py
  src/weather/database/data_base.py
  src/weather/processing/__init__.py
  src/weather/processing/process_files.py
  src/weather/processing/treatment_files.py
  src/weather/utils/__init__.py
  src/weather/utils/collect_link.py
  src/weather/utils/download_files.py
  src/weather/utils/extract_files.py
Due: end-of-file-fixer, trailing-whitespace, check-ast, check-docstring-first

revisando!!!
  main.py
  src/__init__.py
  src/main.py
  src/weather/config/config.py
  src/weather/database/data_base.py
  src/weather/processing/process_files.py
  src/weather/processing/treatment_files.py
  src/weather/utils/download_files.py
  src/weather/utils/extract_files.py
Due: end-of-file-fixer, trailing-whitespace, check-ast, check-docstring-first

refactoring
  main.py
  src/weather/config/config.py
  src/weather/database/data_base.py
  src/weather/processing/process_files.py
Due: end-of-file-fixer, trailing-whitespace, check-ast, check-docstring-first

finalizando6.0
  Dockerfile
  __init__.py
  main.py
  pyproject.toml
  requirements.txt
  src/__init__.py
  src/weather/app/app.py
  src/weather/collect_link.py
  src/weather/config/config.py
  src/weather/data_base.py
  src/weather/database/__init__.py
  src/weather/database/data_base.py
  src/weather/download_files.py
  src/weather/extract_files.py
  src/weather/process_files.py
  src/weather/processing/__init__.py
  src/weather/processing/process_files.py
  src/weather/treatment_files.py
  src/weather/utils/__init__.py
  src/weather/utils/extract_files.py
Due: end-of-file-fixer, trailing-whitespace, check-ast, check-docstring-first

Path conditions:
  end-of-file-fixer: any of: not (dvc.lock|.*\.json$), but not: .md$
  trailing-whitespace: any of: not (dvc.lock), but not: .md$
  jupyter-nb-clear-output: any of: \.ipynb$, but not: .md$
  check-yaml: any of: \.(yaml|yml)$, but not: .md$
  check-ast: any of: \.py$, but not: .md$
  check-docstring-first: any of: \.py$, but not: .md$
  pip-compile: ((any of: requirements-dev.in, but not: .md$) or (any of: requirements.in, but not: .md$)) or (any of: requirements.in, but not: .md$)
